/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/* Header, Navbar */
header{
    background: #73D2DE;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    text-transform: uppercase;
}



header ul li{
    color: #D81159;
    list-style: none;
    display: inline;
    margin-left: 10px;
}
header ul li a{
    color: #D81159;
    text-decoration: none;
    list-style: none;
}

header ul li a:hover{
    /* color: #08415C; */
}



.laptop{
    align-content: flex-start;
}

.laptop i{
    font-size: 45px;
    color: #D81159;

}

.laptop h1{
    vertical-align: 20%;
    color: #D81159;
    height: 100%;
    display: inline;
    padding-left: 5px;
    font-size: 20px;
}

.laptop a{
    text-decoration: none;
    color: none;
}
