/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
}

body{
    color: rgb(88, 103, 124);
    background: #f5f6f8;
    font-family: 'Poppins', sans-serif;
}


/* Header, Navbar */
nav{
    background: #73D2DE;
    height: 80px;
    width: 100%;
}


label.logo i{
    font-size: 25px;
}

label.logo{
    color: #D81159;
    font-size: 25px;
    line-height: 80px;
    padding-left: 10px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #D81159;
    font-size: 17px;
    text-transform: uppercase;
}


nav ul li a:hover{
    color: #df84a6;
}

.checkbtn i{
    font-size: 30px;
    color: #D81159;
}

.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media(max-width: 952px){
    label.logo{
        padding-left: 10px;
    }

    nav ul li a{
        font-size: 16px;
    }

   .about-me-container {
   flex-wrap: wrap;
  }

  .about-me-container h1{
    text-align: center;
  }
  .about-me-container p{
    text-align: justify;
  }

  .row.about-me-txt{
    margin-left: 0;
}


}

@media (max-width: 562px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2C3E50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover{
        color: #73D2DE;
    }

    #check:checked ~ ul{
        left: 0;
    }

}

/* FIM HEADER */

/* SOBRE MIM CONTAINER */
.about-me-container{
    padding: 5% 10%;
    background: #218380;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.about-me-container .row{
    max-width: 1000px;
}


.about-me-container .row img{
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

.about-me-txt a{
    color: #D81159;
}

.about-me-txt{
    margin-left: 5%;
}

.about-me-txt h1{
    font-size: 25px;
}

/* MEUS CONHECIMENTOS */
div.knowledge-container{
    max-width: 800px;
    margin: 20px auto 100px auto;
    text-align: center;
}

div.knowledge-container h2{
    font-size: 25px;
}

div.knowledge-container p{
    margin: 30px auto;
    padding:  0 5% ;
    font-size: 15px;
}

/* CARDS Conhecimentos */
.card-conhecimentos{
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid orchid; */
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.card{
    /* border: 1px solid darkblue; */
}

.card i{
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #D81159;
}

.card h3{   
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}