@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 400;
}

body{
    color: rgb(88, 103, 124);
    background: #f5f6f8;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 25px;
}

h1, h2{
    font-weight: bold;
}

p{
    font-size: 17px;
    margin:1px 0;
}

/* Header, Navbar */
.header{
    background: #73D2DE;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    max-width: 1800px;
    margin: 0 auto;
}

label.logo i{
    font-size: 25px;
}

#melqui{
    font-weight: 700;
    font-size: 25px;
}

label.logo{
    color: #D81159;
    font-size: 25px;
    line-height: 80px;
    padding-left: 10px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #D81159;
    font-size: 17px;
    text-transform: uppercase;
}


nav ul li a:hover{
    color: #df84a6;
}

.checkbtn i{
    font-size: 30px;
    color: #D81159;
}

.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media(max-width: 650px){
    label.logo{
        padding-left: 10px;
    }

    nav ul li a{
        font-size: 16px;
    }

   .about-me-container {
   flex-wrap: wrap;
  }

  .about-me-container h1{
    text-align: center;
  }
  .about-me-container p{
    text-align: justify;
  }

  .row.about-me-txt{
    margin-left: 0;
  }

    div.card-conhecimentos{
        margin: 400px 5% 250px;
        flex-direction: column;
        align-items: center;
    }
    div.card{
        /* margin-bottom: 90px; */
    }
    div.card ul{
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card li{
        width: 100%;
        /* text-align: center; */
    }

}




@media (max-width: 562px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2C3E50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav ul li{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover{
        color: #73D2DE;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/* FIM HEADER */

/* SOBRE MIM CONTAINER */
.about-me-container{
    padding: 2%;
    background: #218380;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.about-me-container .row{
    max-width: 1000px;
}


.about-me-container .row img{
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}

.about-me-txt a{
    color: #D81159;
}

.about-me-txt{
    margin-left: 5%;
}

.about-me-txt h1{
    font-size: 25px;
}

/* MEUS CONHECIMENTOS */
div.knowledge-container{
    max-width: 900px;
    margin: 20px auto 60px auto;
    text-align: center;
}


/* CARDS Conhecimentos */
.card-conhecimentos{
    max-width: 600px;
    margin: 0 auto 100px;
    /* border: 1px solid orchid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 390px;     
}

.card-conhecimentos h3{
    margin-top: 30px;
}

/* Ambos os Cards */
div.card{
    /* color: #FFF; */
    height: 100%;
}

.bi-server::before,
.bi-display::before{
    /* background: #218380; */
    padding: 20px;
    border-radius: 50%;
}

.bi-display::before{
    color: #73D2DE;
    background: #D81159;
}


.bi-server::before{
    color: #D81159;
    background: #73D2DE;
}


.card ul{
    padding: 0 10% 10%;
}

.card li{
    margin-top: 15px;
}

/* Card frontend */
.front-card{
    width: 100%;
    background: #73D2DE;
    color: #D81159;
}
/* Card backend */
.back-card{
    width: 100%;
    background: #D81159;
    color: #73D2DE  ;
}


div.card li i{
    display: inline;
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #2C3E50;
}

div.card li i{
    position: static;
    margin-right: 5px;
    font-size: 1em;
    color: #D81159;
}

div.card.back-card li i{
    color: #73D2DE;
}
.card i{
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 0;

}



.card h3{   
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* PORTIFÓLIO */


.projects-container{
    max-width: 1800px;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-bottom: 50px;
    text-align: center;
}
.projects-text{
    max-width: 900px;
    margin: 0 auto;
}

ul.project-menu{
    margin: 30px auto;
    max-width: 800px;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-menu a{
    margin: 0 4px;
    font-size: 18px;
    color: #2C3E50;
    padding: 7px 5px;
    border-radius: 5px;
    transition: .2s;
}

.project-menu li{
    cursor: pointer;
    padding: 5px;
}

.project-menu a:hover{
    background-color: #e6e6e6;
}

.active{
    background-color: #73D2DE;
}

/* PORTIFÓLIO CARDS */
.tabcontent{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.project-card{
    width: 300px;
    height: 300px;
    /* border: 1px salmon solid; */
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.project-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-footer h3{
    color: #000;
}

.project-footer li h3{
    cursor: pointer;
    display: block;
    font-size: 17px;
    text-decoration: none;
    color: #FFF;
}

.project-footer h3:hover{
    text-decoration: underline;
}


.project-footer ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.project-footer li{
    background: gray;
    padding: 2px 7px;
    border-radius: 15px;
}

.project-footer li {
    font-size: 15px;
    color: #FFF;
}

.project-image{
    /* width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/preio.png);
    background-position: center;*/
    position: relative;
    height: 220px;
}

.project-image img{
    background-size: cover;
    max-width: 100%;
    height: auto;
}


.card-overlay{
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    position: absolute;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tabcontent :hover .card-overlay{
    height: 100%;
}

.card-overlay p,
.card-overlay h3{
    
}

.card-overlay a{
    font-size: 17px;
    color: #FFF;
}

.card-overlay a:hover{
    text-decoration: underline;
}



/* CONTATO */
.contact-container{
    width: 100%;
    background: #2C3E50;
    height: 500px;
    color: #FFF;
}

.social-link{
    display: flex;
    flex-direction: column;
}

.social-link p,
.social-link h2{
    margin-bottom: 50px;
}

.social-link p{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}

.social-link .media-icons,
.social-link h2{
    text-align: center;
}


.contact-content{
    max-width: 1400px;
    height: 100%;
    /* border: 1px solid white; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 70px 3%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form textarea,
.contact-form input{
    margin-bottom: 20px;
}

textarea {
    resize: none;
  }


.contact-form 
input[type=text]{
    border: none;
    background: none;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

.contact-form
textarea::placeholder,
input[type=text]::placeholder{
    color: rgb(224, 224, 224);
}

input[type=text]:focus::placeholder,
textarea:focus::placeholder{
    color: transparent;
}


textarea:focus, input:focus{
    outline: none;
}

.contact-form textarea{
    color: #FFF;
    background: none;
    border: 1px solid #FFF;
}

.contact-form input[type=submit]{
    background-color: #73D2DE;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    width: 90%;
    align-self: center;
}

.media-icons a i{
    color: #FFF;
    font-size: 30px;
    margin: 0 5px;
}


/* AJUSTES RESPOSNSIVIDADE */
@media(max-width: 1100px){

     .projects-container{
        max-width: 95%;
    }
}

@media(min-width: 1030px){
    .tabcontent{
        justify-content: flex-start;
        /* flex-direction: column; */
    }
}

@media(max-width: 700px){
    .contact-container{
        height: 100%;
    }
    .contact-content{
        flex-wrap: wrap;
    }

    .contact-form{
        align-items: center;
        padding: 0 5%;
    }

    .social-link{
        margin-bottom: 50px;
    }

    .contact-form textarea,
    .contact-form input[type=text] {
        width: 90%;
    }

    .contact-form label{
        align-self: flex-start;
    }
}

@media(max-width: 300px){
    #melqui{
        display: none;
    }

}